<section class="section">
  <div class="container about-us">
    <!--<div class="about-items">-->
    <!--<div class="about-item">-->
    <div class="about-images">
      <picture class="about-img">
        <source
          srcset="
            images/tablet/tablet-about-us1@1x.jpg 330w,
            images/tablet/tablet-about-us1@2x.jpg 660w
          "
          media="(max-width:1279px)"
          sizes="(min-width:1280px) 25vw, (min-width:768px) 50vw, 100vw"
        />
        <source
          srcset="
            images/desktop/desktop-about-us1@1x.jpg 270w,
            images/desktop/desktop-about-us1@2x.jpg 540w
          "
          media="(min-width:1280px)"
          sizes="(min-width:1280px) 25vw, (min-width:768px) 50vw, 100vw "
        />
        <img src="images/tablet/tablet-about-us1@1x.jpg " alt="photo" />
      </picture>

      <picture class="about-img">
        <source
          srcset="
            images/tablet/tablet-about-us2@1x.jpg 330w,
            images/tablet/tablet-about-us2@2x.jpg 660w
          "
          media="(max-width:1279px)"
          sizes="(min-width:1280px) 25vw, (min-width:768px) 50vw, 100vw" />
        <source
          srcset="
            images/desktop/desktop-about-us2@1x.jpg 270w,
            images/desktop/desktop-about-us2@2x.jpg 540w
          "
          media="(min-width:1280px)"
          sizes="(min-width:1280px) 25vw, (min-width:768px) 50vw, 100vw" />
        <img src="images/tablet/tablet-about-us2@1x.jpg " alt="photo"
      /></picture>
    </div>
    <!--<img
      srcset="
        images/tablet/tablet-about-us1@1x.jpg 1x,
        images/tablet/tablet-about-us1@2x.jpg 2x
      "
      src="images/tablet/tablet-about-us1@1x.jpg "
      alt="photo"
      width="330"
      class="about-img"
    />
    <img
      srcset="
        images/desktop/desktop-about-us2@1x.jpg 1x,
        images/desktop/desktop-about-us2@2x.jpg 2x
      "
      src="images/desktop/desktop-about-us2@2x.jpg "
      alt="photo"
      width="270"
      height="445"
      class="about-img"
    />
    </div>-->
    <div class="about-text">
      <p class="section-title-lite-fone">
        О нас
      </p>
      <h2 class="title-lite-fone">
        Лучший Барбершоп твоего города
      </h2>
      <p class="citation-lite-fone">
        Если ты хочешь добавить в свой образ больше уверенности – тебе точно к
        нам.
      </p>
      <p class="text-lite-fone">
        Мы команда, которая никогда не останавливается на достигнутом и жаждет
        перемен. И когда ты попадешь в руки нашего мастера, то уже никогда не
        сможешь быть прежним. Мы команда, которая всегда с клиентами "на одной
        волне". Поэтому, мы всегда готовы усовершенствовать каждого, кто к нам
        приходит!
      </p>
      <button class="btn-lite-fone" type="button">
        онлайн-запись
      </button>
    </div>
  </div>
</section>
