<section class="section">
  <div class="container">
    <!--
    <div class="section-title-lite-fone">
       <svg class="icon-stripe" width="60" height="1"> 
        <use href=""></use>
      </svg>
      <p class="section-name">
        На латинском языке “барба” означает “борода”
      </p>
    </div>-->
    <p class="section-title-lite-fone">
      На латинском языке “барба” означает “борода”
    </p>

    <ul class="section-list gallery-set">
      <li class="gallery-set__item">
        <picture class="gallery-img">
          <source
            srcset="
              images/mobile/mobile-gallery1@1x.jpg 418w,
              images/mobile/mobile-gallery1@2x.jpg 836w
            "
            media="(max-width:767px)"
            sizes="(min-width:1280px) 25vw, (min-width:768px) 50vw, 100vw"
          />
          <source
            srcset="
              images/tablet/tablet-gallery1@1x.jpg 270w,
              images/tablet/tablet-gallery1@2x.jpg 540w
            "
            media="(max-width:1279px)"
            sizes="(min-width:1280px) 25vw, (min-width:768px) 50vw, 100vw"
          />
          <source
            srcset="
              images/desktop/desktop-gallery1@1x.jpg 270w,
              images/desktop/desktop-gallery1@2x.jpg 540w
            "
            media="(min-width:1280px)"
            sizes="(min-width:1280px) 25vw, (min-width:768px) 50vw, 100vw "
          />
          <img src="images/mobile/mobile-gallery1@1x.jpg " alt="photo" />
        </picture>
      </li>
      <li class="gallery-set__item">
        <picture class="gallery-img">
          <source
            srcset="
              images/mobile/mobile-gallery2@1x.jpg 418w,
              images/mobile/mobile-gallery2@2x.jpg 836w
            "
            media="(max-width:767px)"
            sizes="(min-width:1280px) 25vw, (min-width:768px) 50vw, 100vw"
          />
          <source
            srcset="
              images/tablet/tablet-gallery2@1x.jpg 270w,
              images/tablet/tablet-gallery2@2x.jpg 540w
            "
            media="(max-width:1279px)"
            sizes="(min-width:1280px) 25vw, (min-width:768px) 50vw, 100vw"
          />
          <source
            srcset="
              images/desktop/desktop-gallery2@1x.jpg 270w,
              images/desktop/desktop-gallery2@2x.jpg 540w
            "
            media="(min-width:1280px)"
            sizes="(min-width:1280px) 25vw, (min-width:768px) 50vw, 100vw "
          />
          <img src="images/mobile/mobile-gallery2@1x.jpg " alt="photo" />
        </picture>
      </li>
      <li class="gallery-set__item">
        <picture class="gallery-img">
          <source
            srcset="
              images/mobile/mobile-gallery3@1x.jpg 418w,
              images/mobile/mobile-gallery3@2x.jpg 836w
            "
            media="(max-width:767px)"
            sizes="(min-width:1280px) 25vw, (min-width:768px) 50vw, 100vw"
          />
          <source
            srcset="
              images/tablet/tablet-gallery3@1x.jpg 270w,
              images/tablet/tablet-gallery3@2x.jpg 540w
            "
            media="(max-width:1279px)"
            sizes="(min-width:1280px) 25vw, (min-width:768px) 50vw, 100vw"
          />
          <source
            srcset="
              images/desktop/desktop-gallery3@1x.jpg 270w,
              images/desktop/desktop-gallery3@2x.jpg 540w
            "
            media="(min-width:1280px)"
            sizes="(min-width:1280px) 25vw, (min-width:768px) 50vw, 100vw "
          />
          <img src="images/mobile/mobile-gallery3@1x.jpg " alt="photo" />
        </picture>
      </li>
      <li class="gallery-set__item">
        <picture class="gallery-img">
          <source
            srcset="
              images/mobile/mobile-gallery4@1x.jpg 418w,
              images/mobile/mobile-gallery4@2x.jpg 836w
            "
            media="(max-width:767px)"
            sizes="(min-width:1280px) 25vw, (min-width:768px) 50vw, 100vw"
          />
          <source
            srcset="
              images/tablet/tablet-gallery4@1x.jpg 270w,
              images/tablet/tablet-gallery4@2x.jpg 540w
            "
            media="(max-width:1279px)"
            sizes="(min-width:1280px) 25vw, (min-width:768px) 50vw, 100vw"
          />
          <source
            srcset="
              images/desktop/desktop-gallery4@1x.jpg 270w,
              images/desktop/desktop-gallery4@2x.jpg 540w
            "
            media="(min-width:1280px)"
            sizes="(min-width:1280px) 25vw, (min-width:768px) 50vw, 100vw "
          />
          <img src="images/mobile/mobile-gallery4@1x.jpg " alt="photo" />
        </picture>
      </li>

      <!--
      <li class="section-item">
        <div class="thumb">
          <img class="img-worker" srcset="./images/mobile/mobile-gallery1@1x.jpg 1x,
              ./images/tablet/tablet-gallery1@1x.jpg" src="./images/desktop/desktop-gallery1@1x.jpg" alt="Первый пример работ" />
        </div>
      </li>
      <li class="section-item">
        <div class="thumb">
          <img class="img-worker" srcset="./images/mobile/mobile-gallery2@1x.jpg 1x,
              ./images/tablet/tablet-gallery2@1x.jpg" src="./images/desktop/desktop-gallery2@1x.jpg" alt="Второй пример работ" />
        </div>
      </li>
      <li class="section-item">
        <div class="thumb">
          <img class="img-worker" srcset="./images/mobile/mobile-gallery3@1x.jpg 1x,
              ./images/tablet/tablet-gallery3@1x.jpg" src="/images/desktop/desktop-gallery3@1x.jpg" alt="Третий пример работ" />
        </div>
      </li>
      <li class="section-item">
        <div class="thumb">
          <img
            class="img-worker"
            srcset="./images/mobile/mobile-gallery4@1x.jpg 1x,
            ./images/tablet/tablet-gallery4@1x.jpg" 
            src="./images/desktop/desktop-gallery4@1x.jpg"
            alt="Четвертый пример работ"
          />
        </div>
      </li>-->
    </ul>
  </div>
</section>
