<!-- Page header -->

<div class="centering">
  <header class="section-header">
   <div class="container-header">
      <a class="link-logo" href="./index.html">
        <svg class="Logo" width="69px" height="56px" aria-label="логотип барбершопа">
          <use class="icon-close" href="./images/barber-svg/logo-defs.svg#icon-Logo-black"></use>
        </svg>
      </a>
      <button type="button" class="mobile-menu-button" data-menu-button aria-expanded="false" aria-controls="mob-menu">
        <svg width="40px" height="40px" aria-label="переключатель мобильного меню">
          <use class="icon-close" href="./images/barber-svg/symbol-defs.svg#icon-close_40px"></use>
          <use class="icon-menu" href="./images/barber-svg/symbol-defs.svg#icon-menu"></use>
        </svg>
      </button>
      
      <div class="mobile-menu backdrop" id="mob-menu" data-menu>
        <ul class="list-header">
          <li class="list-item-header">
            <a class="link-header" href="#about-us">О нас</a>
          </li>
          <li class="list-item-header">
            <a class="link-header" href="#services">Услуги и цены</a>
          </li>
          <li class="list-item-header">
            <a class="link-header" href="#masters">Мастера</a>
          </li>
          <li class="list-item-header">
            <a class="link-header" href="#contacts">Контакты</a>
          </li>
        </ul>
        <div class="contacts-header">
          <a class="link-header item-tel" href="tel:380441111111">+38 044 111 11 11</a>
      
          <button class="btn-lite-fone-header">Онлайн запись</button>
        </div>
        </nav>
        <section class="soc-header">
         <a class="soc-link-header line" href="https://www.instagram.com/?hl=ru">Instagram</a>
         <a class="soc-link-header header-tube" href="https://www.youtube.com/?hl=ru&gl=UA">Youtube</a>
        </section>
      </div>
      <section class="text-section-header">
        <p class="section-title-dark-fone">A hair salon for men in Kyiv</p>
        <h1 class="header-title">BarberShop</h1>
        <p class="header-text">
          Мы эксперты в модных мужских стрижках. Работаем быстро, осторожно и со
          вкусом.
        </p>
        <div >
          <ul class="radio-lines">
            <li><button class="button-line" type="radio"></button></li>
            <li><button class="button-line" type="radio"></button></li>
            <li><button class="button-line" type="radio"></button></li>
          </ul>

        </div>
      </section>
      <div class="button-slide">
        <button class="slide-bottom first">Назад</button>
        <button class="slide-bottom second">Вперед</button>
      </div>
   </div>
  </header>
</div>
